# Part 1: Design an ERD

 ![png](image_1.png)

# Part 2: Create the database in Python

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

connection = "mysql+pymysql://root:root@localhost/books"

In [2]:
engine = create_engine(connection)

In [3]:
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [4]:
users = 'Data/users.csv'
books = 'Data/books.csv'
authors = 'Data/author.csv'
favorites = 'Data/favorites.csv'

users_df = pd.read_csv(users)
books_df = pd.read_csv(books)
authors_df = pd.read_csv(authors)
favorites_df = pd.read_csv(favorites)

In [5]:
users_df.to_sql('users', engine, if_exists = 'replace')
books_df.to_sql('books', engine, if_exists = 'replace')
authors_df.to_sql('authors', engine, if_exists = 'replace')
favorites_df.to_sql('favorites', engine, if_exists = 'replace')

7

In [6]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

In [7]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users